<header md-page-header>
    <div md-header-picture
         class="header-background">
    </div>
    <md-toolbar header-transform class="header-transform">
        <div class="md-toolbar-tools">
            <md-button
                    ng-click="app.toggleSidenav('left')"
                    hide-gt-md aria-label="Menu">
                <ng-md-icon icon="menu"
                            class="white-icon">
                </ng-md-icon>
            </md-button>
            <h1 md-header-title
                style="font-weight: 300; font-style: italic">
                Hello :)
            </h1>
            <span flex=""></span>
            <md-button aria-label="Twitter">
                <ng-md-icon icon="twitter"
                            class="white-icon">
                </ng-md-icon>
            </md-button>
            <md-button aria-label="Github">
                <ng-md-icon icon="github-circle"
                            class="white-icon">
                </ng-md-icon>
            </md-button>
            <md-button aria-label="LinkedIn">
                <ng-md-icon icon="linkedin"
                            class="white-icon">
                </ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
</header>

<md-content md-scroll-y
            flex
            class="layout-padding flex">

    <div ng-if="vm.blogPosts.length > 0">
        <h1 class="header-text">
            Recent Blog Posts
        </h1>
        <div layout="row" layout-sm="column" layout-xs="column"
             layout-align="start stretch">

            <md-card ng-repeat="post in vm.blogPosts"
                     class="layout-padding flex"
                     flex="">
                <md-card-title-text>
                    <h3 class="header-text"
                        ng-click="vm.goToBlogPost(post)">
                        {{post.title}}
                    </h3>
                    <span class="md-subhead">{{vm.getDate(post)}}</span>
                </md-card-title-text>
                <blog-post blogpost="post"
                           snippet="true">
                </blog-post>
            </md-card>
        </div>

        <div layout="row" layout-align="center center">
            <md-button class="md-raised md-accent">
                More Posts
            </md-button>
        </div>

    </div>

    <div ng-if="vm.blogPosts.length > 0">
        <h1 class="header-text">
            Recent Blog Posts
        </h1>
        <div layout="row" layout-sm="column" layout-xs="column"
             layout-align="start stretch">

            <md-card ng-repeat="post in vm.blogPosts"
                     class="layout-padding flex"
                     flex="">
                <md-card-title-text>
                    <h3 class="header-text"
                        ng-click="vm.goToBlogPost(post)">
                        {{post.title}}
                    </h3>
                    <span class="md-subhead">{{vm.getDate(post)}}</span>
                </md-card-title-text>
                <blog-post blogpost="post"
                           snippet="true">
                </blog-post>
            </md-card>
        </div>

        <div layout="row" layout-align="center center">
            <md-button class="md-raised md-accent">
                More Posts
            </md-button>
        </div>

    </div>


    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>
    <h1>TEST</h1>

</md-content>
