<md-dialog>
    <md-content class="md-padding">
        <form name="signUpForm">

            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Username</label>
                    <input ng-model="newUser.username">
                </md-input-container>
                <md-input-container flex>
                    <label>Email</label>
                    <input ng-model="newUser.email">
                </md-input-container>
            </div>

            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>First Name</label>
                    <input ng-model="newUser.firstName">
                </md-input-container>

                <md-input-container flex>
                    <label>Last Name</label>
                    <input ng-model="newUser.lastName">
                </md-input-container>
            </div>

            <div layout layout-sm="column"
                 layout-align="center center">
                <md-input-container flex>
                    <label>Password</label>
                    <input ng-model="newUser.password"
                           type="password">
                </md-input-container>
            </div>

        </form>
    </md-content>
    <div class="md-actions" layout="row"><span flex></span>
        <md-button ng-click="cancel()"> Cancel</md-button>
        <md-button ng-click="signUp()" class="md-primary"> Sign Up</md-button>
    </div>
</md-dialog>