<md-content class="layout-padding anim-slide-below-fade"
            layout="row">
    <span flex></span>
    <md-card ng-if="vm.blogPost"
             flex="80"
             class="layout-padding">
        <md-card-title-text>
            <h1 class="header-text">
                {{vm.blogPost.title}}
            </h1>
            <h3 class="md-subhead">By {{vm.blogPost.author.fullName}}</h3>
        </md-card-title-text>
        <blog-post blogpost="vm.blogPost"></blog-post>
        <br>
        <a class="tag"
           ng-show="vm.authService.signedInUser"
           ui-sref="EditPostController({blogPost: vm.blogPost})">
            Edit Post
        </a>
    </md-card>
    <span flex></span>
</md-content>
