<!DOCTYPE html>
<html ng-app="TunjiWeb">
<head>
    <title><%= title %></title>
    <base href="/">

    <link rel="stylesheet"
          href="/public/lib/angular-material/angular-material.css">
    <link rel="stylesheet"
          href='/public/lib/textAngular/dist/textAngular.css'>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet"
          href="/public/stylesheets/style.css">

    <link rel="stylesheet"
          href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="/public/lib/angular/angular.min.js" type="text/javascript"></script>
    <script src="/public/lib/angular-aria/angular-aria.min.js" type="text/javascript"></script>
    <script src="/public/lib/angular-scroll/angular-scroll.min.js" type="text/javascript"></script>

    <script src="/public/lib/angular-sanitize/angular-sanitize.min.js"
            type="text/javascript"></script>
    <script src="/public/lib/angular-gist/angular-gist.min.js"
            type="text/javascript"></script>
    <script src="/public/lib/angular-animate/angular-animate.min.js"
            type="text/javascript"></script>
    <script src="/public/lib/angular-cookies/angular-cookies.min.js"
            type="text/javascript"></script>
    <script src="/public/lib/angular-resource/angular-resource.min.js"
            type="text/javascript"></script>
    <script src="/public/lib/angular-ui-router/release/angular-ui-router.min.js"
            type="text/javascript"></script>
    <script src="/public/lib/angular-material-icons/angular-material-icons.min.js"
            type="text/javascript"></script>


    <script src='/public/lib/textAngular/dist/textAngular-rangy.min.js'></script>
    <script src='/public/lib/textAngular/dist/textAngular-sanitize.min.js'></script>
    <script src='/public/lib/textAngular/dist/textAngular.min.js'></script>

    <!-- Angular Material Library -->
    <script src="/public/lib/angular-material/angular-material.js" type="text/javascript"></script>

    <!-- 3rd Party -->
    <script src="/public/lib/ngtweet/dist/ngtweet.js" type="text/javascript"></script>

    <!-- App -->
    <script src="/public/app.js"></script>

    <!-- Custom Modules -->

    <!-- Custom Directives -->
    <script src="/public/directives/blogPost.js"></script>
    <script src="/public/directives/headerTransform.js"></script>
    <script src="/public/directives/fabTransform.js"></script>

    <!-- Custom Services -->
    <script src="/public/services/blogPostService.js"></script>
    <script src="/public/services/authService.js"></script>

    <!-- Controllers -->
    <script src="/public/controllers/HomeController.js"></script>
    <script src="/public/controllers/ProjectsController.js"></script>
    <script src="/public/controllers/ResumeController.js"></script>
    <script src="/public/controllers/AboutController.js"></script>
    <script src="/public/controllers/AllPostsController.js"></script>
    <script src="/public/controllers/ViewPostController.js"></script>
    <script src="/public/controllers/EditPostController.js"></script>

</head>

<body layout="row"
      class="layout-row"
      ng-controller="AppController as app">

<md-sidenav
        class="site-sidenav md-sidenav-left md-whiteframe-z2"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-sm')">

    <header class="nav-header material-wallpaper layout-padding">
        <img class="user-avatar" height="64" width="64" pointer-events="none"
             display="block"
             src="../../public/images/sidenav/avatar.png">

        <h3 style="color: white">Adetunji Dahunsi</h3>
    </header>
    <md-list>
        <md-list-item ng-repeat="item in app.menu">
            <a ng-click="app.go(item.state, $index)">
                <md-item-content
                        md-ink-ripple layout="row"
                        layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="{{item.icon}}"
                                    style="fill: grey">
                        </ng-md-icon>
                    </div>
                    <div class="inset">
                        {{item.title}}
                    </div>
                    <span style="color: white">________________________________________</span>
                </md-item-content>
            </a>
        </md-list-item>
    </md-list>
</md-sidenav>


<div layout="column"
     class="layout-column"
     flex
     role="main">

    <md-toolbar class="md-whiteframe-8dp site-content-toolbar"
                ng-if="!(app.currentState == app.menu[0].state)">
        <div class="md-toolbar-tools">
            <md-button
                    ng-click="app.toggleSidenav('left')"
                    hide-gt-md aria-label="Menu">
                <ng-md-icon icon="menu"
                            class="white-icon">
                </ng-md-icon>
            </md-button>
            <h3>
                {{app.title}}
            </h3>
            <span flex></span>
            <a href="https://twitter.com/Tunji_D">
                <md-button aria-label="Twitter">
                    <ng-md-icon icon="twitter"
                                class="white-icon">
                    </ng-md-icon>
                </md-button>
            </a>
            <a href="https://github.com/tunjid">
                <md-button aria-label="Github">
                    <ng-md-icon icon="github-circle"
                                class="white-icon">
                    </ng-md-icon>
                </md-button>
            </a>
            <a href="https://www.linkedin.com/in/adetunji-dahunsi-a7618580">
                <md-button aria-label="LinkedIn">
                    <ng-md-icon icon="linkedin"
                                class="white-icon">
                    </ng-md-icon>
                </md-button>
            </a>
            <md-menu>
                <md-button aria-label="Menu"
                           ng-click="app.openMenu($mdOpenMenu, $event)">
                    <ng-md-icon icon="more_vert"
                                class="white-icon">
                    </ng-md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="app.signIn()">
                            Sign In
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>

    <md-content fab-transform
                id="scroll-container">
        <ui-view autoscroll="true">
            <!-- Controllers go here -->
        </ui-view>
    </md-content>
</div>

<md-button class="md-fab md-fab-bottom-right app-fab"
           ng-class="app.fabClass"
           aria-label="Contact"
           ng-click="app.contact($event)">
    <ng-md-icon icon="messenger"
                class="white-icon">
    </ng-md-icon>
</md-button>
</body>

</html>